.aa{
    width: 80%;
    height: 60%;
    border-radius: 5%;
    margin-top: 3%;
    margin-left: 10%;
    background-image: url('/assets/parking_souterrain_de_l_hotel_de_ville_reference.png');
}

.e{
    text-align: center;
    background-color: rgb(25, 121, 165);
    height: 100%;
}
.p{
    background-image:url('/assets/16577f68d733b64.jpg'); 
    border-radius: 3%;
    margin: 3%;
}
.m{
    margin-top: 2%;
    margin-left: 15%;
}

