<ion-header>
  <ion-toolbar color="secondary">
      <ion-buttons slot="start">
          <ion-back-button defaulthref=""></ion-back-button>
        </ion-buttons>
    <ion-title class="o" style="margin-left:5%">liste parking </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding >

 <div class="wrapper" >

    <div  class="bz" style="border-color: rgb(0, 0, 0) ;height: 100%;width: 100%; border-style: dashed; border-block-width: 50%">
         <ion-button  style="margin-top:-20% ;margin-left:-15%; height: 285%; background-image: url('/assets/téléchargement.jpeg')"  fill="outline" size="large" 
         class="a" color="dark" routerLink="/menu/first/tabs/tab3" 
                 routerDirection="forward">
         </ion-button>

         <ion-button  style="width: 89%;margin-top:-18.5% ;margin-right:-30% ;height: 286%"  fill="outline" size="large" 
         class="a" color="dark">
         <p>
                 
                <ion-button>
                        <ion-icon name="pin"></ion-icon>
                      </ion-button>
                      <ion-button>
                            <ion-icon name="call"></ion-icon>
                          </ion-button>

         </p>
         </ion-button>

            
   </div>

     <div  class="bz" style="border-color: rgb(0, 0, 0) ;height: 100%;width: 100%; border-style: dashed; border-block-width: 50%">
         <ion-button  style="margin-top:-20% ;margin-left: -15%; height: 285%; background-image: url('/assets/parking_souterrain_de_l_hotel_de_ville_reference-ConvertImage.png');"  fill="outline" size="large" 
               class="a" color="dark" routerLink="/menu/first/tabs/tab31" 
                       routerDirection="forward"><p></p>
          </ion-button>
          <ion-button  style="width: 89%;margin-top:-18.5% ;margin-right:-30% ;height: 286%"  fill="outline" size="large" 
         class="a" color="dark">
         <p>
                 
                <ion-button>
                        <ion-icon name="pin"></ion-icon>
                      </ion-button>
                      <ion-button>
                            <ion-icon name="call"></ion-icon>
                          </ion-button>

         </p>
         </ion-button>
     </div>

     <div  class="bz" style="border-color: rgb(0, 0, 0) ;height: 100%;width: 100%; border-style: dashed; border-block-width: 50%">
            <ion-button  style="margin-top:-20% ;margin-left:-15%; height: 285%; background-image: url('/assets/images.jpeg')"  fill="outline" size="large" 
            class="a" color="dark" routerLink="/menu/first/tabs/tab32" 
                    routerDirection="forward"><p></p>
            </ion-button>
            <ion-button  style="width: 89%;margin-top:-18.5% ;margin-right:-30% ;height: 286%"  fill="outline" size="large" 
      class="a" color="dark">
      <p>
                 
            <ion-button>
                    <ion-icon name="pin"></ion-icon>
                  </ion-button>
                  <ion-button>
                        <ion-icon name="call"></ion-icon>
                      </ion-button>

     </p>
      </ion-button>
      
  </div>
      

     <div  class="bz" style="border-color: rgb(0, 0, 0) ;height: 100%;width: 100%; border-style: dashed; border-block-width: 50%">
                <ion-button  style="margin-top:-20% ;margin-left: -15%; height: 285%; background-image: url('/assets/téléchargement.jpeg')"  fill="outline" size="large" 
                class="a" color="dark" routerLink="/menu/first/tabs/tab33" 
                        routerDirection="forward"><p></p>
                </ion-button>
                <ion-button  style="width: 89%;margin-top:-18.5% ;margin-right:-30% ;height: 286%"  fill="outline" size="large" 
         class="a" color="dark">
         <p>
                 
                <ion-button>
                        <ion-icon name="pin"></ion-icon>
                      </ion-button>
                      <ion-button>
                            <ion-icon name="call"></ion-icon>
                          </ion-button>

         </p>
         </ion-button>
     </div>

     <div  class="bz" style="border-color: rgb(0, 0, 0) ;height: 100%;width: 100%; border-style: dashed; border-block-width: 50%">
          <ion-button  style="margin-top:-20% ;margin-left: -15%; height: 285%; background-image: url('/assets/téléchargement.jpeg')"  fill="outline" size="large" 
               class="a" color="dark" routerLink="/menu/first/tabs/tab33" 
                       routerDirection="forward"><p></p>
          </ion-button>
          <ion-button  style="width: 89%;margin-top:-18.5% ;margin-right:-30% ;height: 286%"  fill="outline" size="large" 
         class="a" color="dark">
         <p>
                 
                <ion-button>
                        <ion-icon name="pin"></ion-icon>
                      </ion-button>
                      <ion-button>
                            <ion-icon name="call"></ion-icon>
                          </ion-button>

         </p>
         </ion-button>
         
      </div>
      
     <div  class="bz" style="border-color: rgb(0, 0, 0) ;height: 100%;width: 100%; border-style: dashed; border-block-width: 50%">
           <ion-button  style="margin-top:-20% ;margin-left: -15%; height: 285%; background-image: url('/assets/téléchargement.jpeg')"  fill="outline" size="large" 
                class="a" color="dark" routerLink="/menu/first/tabs/tab33" 
                        routerDirection="forward"><p></p>
           </ion-button>
           <ion-button  style="width: 89%;margin-top:-18.5% ;margin-right:-30% ;height: 286%"  fill="outline" size="large" 
         class="a" color="dark">
         <p>
                 
                <ion-button>
                        <ion-icon name="pin"></ion-icon>
                      </ion-button>
                      <ion-button>
                            <ion-icon name="call"></ion-icon>
                          </ion-button>

         </p>
         </ion-button>
     </div>

     <div  class="bz" style="border-color: rgb(0, 0, 0) ;height: 100%;width: 100%; border-style: dashed; border-block-width: 50%">
               <ion-button  style="margin-top:-20% ;margin-left: -15%; height: 285%; background-image: url('/assets/téléchargement.jpeg')"  fill="outline" size="large" 
               class="a" color="dark" routerLink="/menu/first/tabs/tab33" 
                       routerDirection="forward"><p></p>
               </ion-button>
               <ion-button  style="width: 89%;margin-top:-18.5% ;margin-right:-30% ;height: 286%"  fill="outline" size="large" 
         class="a" color="dark">
         <p>
                 
                <ion-button>
                        <ion-icon name="pin"></ion-icon>
                      </ion-button>
                      <ion-button>
                            <ion-icon name="call"></ion-icon>
                          </ion-button>

         </p>
         </ion-button>
       
      </div>
      
     <div  class="bz" style="border-color: rgb(0, 0, 0) ;height: 100%;width: 100%; border-style: dashed; border-block-width: 50%">
           <ion-button  style="margin-top:-20% ;margin-left: -15%; height: 285%; background-image: url('/assets/téléchargement.jpeg')"  fill="outline" size="large" 
                class="a" color="dark" routerLink="/menu/first/tabs/tab33" 
                        routerDirection="forward"><p></p>
           </ion-button>
           <ion-button  style="width: 89%;margin-top:-18.5% ;margin-right:-30% ;height: 286%"  fill="outline" size="large" 
         class="a" color="dark">
         <p>
                 
                <ion-button>
                        <ion-icon name="pin"></ion-icon>
                      </ion-button>
                      <ion-button>
                            <ion-icon name="call"></ion-icon>
                          </ion-button>

         </p>
         </ion-button>
        
     </div>
<!--
    <div class="ox">
         <ion-button  fill="outline" shape="round"
         class="a" color="dark" routerLink="/menu/first/tabs/tab35" 
                 routerDirection="forward"><h3>Parking18</h3>
    </ion-button>
    </div>

    <div class="box turquoise">
         <ion-button  fill="outline" shape="round"
         class="a" color="dark" routerLink="/menu/first/tabs/tab36##" 
                 routerDirection="forward"><h3>Parking20</h3>
    </ion-button>
    </div>

    <div class="box turquoise">
         <ion-button  fill="outline" shape="round"
         class="a" color="dark" routerLink="/menu/first/tabs/tab37##" 
                 routerDirection="forward"><h3>Parking03</h3>
    </ion-button>
    </div>

    <div class="box turquoise">
         <ion-button  fill="outline" shape="round"
         class="a" color="dark" routerLink="/menu/first/tabs/tab38##" 
                 routerDirection="forward"><h3>Parking07</h3>
    </ion-button>
    </div>


    <div class="box turquoise">
         <ion-button  fill="outline" shape="round"
         class="a" color="dark" routerLink="/menu/first/tabs/tab39##" 
                 routerDirection="forward"><h3>Parking19</h3>
    </ion-button>
    </div>
-->
 </div>



</ion-content>
