<ion-header>
        <ion-toolbar color="secondary">
            <ion-buttons slot="start">
          
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title class="o">Parking 11</ion-title>
        </ion-toolbar>
      </ion-header>
      
      <ion-content padding >
          
           <ion-button  color="dark" expand="block" routerLink="/login" 
           routerDirection="root" ><!-- (click)="doGoogleLogin()"  -->
             SORTER
            </ion-button>
      </ion-content>
      