<ion-header>
  <ion-toolbar color="secondary">
  	<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title >Chercher parking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list-header><p style="margin-left:5%">Tous les parking disponnibles</p></ion-list-header>
    <div class="hu">
    </div>

    <ion-list>
<ion-label ><ion-button class="y" style="width: 100%;  color: #09ec09 ">  Par ville</ion-button></ion-label>

<ion-select multiple="false" cancelText="cancel" okText="ok">

  <ion-select-option value="bacon">Casablanca</ion-select-option>
  <ion-select-option value="olives">Rabat</ion-select-option>
  <ion-select-option value="xcheese">tanger</ion-select-option>
  <ion-select-option value="peppers">Merrakech</ion-select-option>
  <ion-select-option value="mushrooms">fes</ion-select-option>
  <ion-select-option value="onions">meknes</ion-select-option>
  <ion-select-option value="pepperoni">sales</ion-select-option>
  <ion-select-option value="pineapple">wejda</ion-select-option>
  <ion-select-option value="sausage">taza</ion-select-option>
  <ion-select-option value="Spinach">bni mellale</ion-select-option>
</ion-select>
<ion-label><ion-button class="y" style="width: 100%; color: #09ec09 " #223344   >Par quartier</ion-button></ion-label>
<ion-select multiple="false" cancelText="cancel" okText="ok">
  <ion-select-option value="bacon">Anfa</ion-select-option>
  <ion-select-option value="olives">hay elhasani</ion-select-option>
  <ion-select-option value="xcheese">ain sbaa</ion-select-option>
  <ion-select-option value="peppers">Merrakech</ion-select-option>
  <ion-select-option value="mushrooms">Mushrooms</ion-select-option>
  <ion-select-option value="onions">Onions</ion-select-option>
  <ion-select-option value="pepperoni">Pepperoni</ion-select-option>
  <ion-select-option value="pineapple">Pineapple</ion-select-option>
  <ion-select-option value="sausage">Sausage</ion-select-option>
  <ion-select-option value="Spinach">Spinach</ion-select-option>
</ion-select>
                                                                                  
</ion-list>

<!--
  <ion-button fill="outline" expand="block" color="dark" routerLink="/menu/first/tabs/tab2/add-user" routerDirection="forward"
    parking 01
  </ion-button>-->
  <ion-button fill="outline" size="large" expand="block" color="dark" routerLink="/menu/first/tabs/tab2/add-user" routerDirection="forward"> 
    <ion-icon name="search"></ion-icon>
    Chercher
  </ion-button>
  <!--
  <ion-button fill="outline" expand="block" color="dark" routerLink="/menu/first/tabs/tab1/details" routerDirection="forward"> 
    parking 03
  </ion-button>
  <ion-button fill="outline" expand="block" color="dark" routerLink="/menu/first/tabs/tab1/details" routerDirection="forward"> 
    parking 04
  </ion-button>
  <ion-button fill="outline" expand="block" color="dark" routerLink="/menu/first/tabs/tab1/details" routerDirection="forward"> 
    parking 05
  </ion-button>
  <ion-button fill="outline" expand="block" color="dark" routerLink="/menu/first/tabs/tab1/details" routerDirection="forward"> 
    parking 06
  </ion-button>
  <ion-button fill="outline" expand="block" color="dark"  routerLink="/menu/first/tabs/tab2/add-user" routerDirection="forward">  
    parking 07
   </ion-button>
  <ion-button fill="outline" expand="block" color="dark" routerLink="/menu/first/tabs/tab1/details" routerDirection="forward"> 
    parking 08
  </ion-button>
  <ion-button fill="outline" expand="block" color="dark" routerLink="/menu/first/tabs/tab1/details" routerDirection="forward"> 
    parking 09
  </ion-button>
  <ion-button fill="outline" expand="block" color="dark" routerLink="/menu/first/tabs/tab1/details" routerDirection="forward"> 
    parking0 10
  </ion-button>
  <ion-button fill="outline" expand="block" color="dark" routerLink="/menu/first/tabs/tab1/details" routerDirection="forward"> 
    parking 11
  </ion-button>
  <ion-button fill="outline" expand="block" color="dark" routerLink="/menu/first/tabs/tab1/details" routerDirection="forward"> 
    parking 12
  </ion-button>

-->
</ion-content>
