<ion-header>
  <ion-toolbar color="secondary">
  	<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>La localisation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class="L">

    
  
  <iframe width="97%" height="100%"  src="">
  </iframe>

    </div>
  <ion-searchbar showCancelButton cancelButtonText="Custom Cancel"></ion-searchbar>

  <ion-button expand="block" color="dark" routerLink="/menu/first/tabs/tab2/add-user" routerDirection="forward"> 
    Chercher
  </ion-button>
</ion-content>